bokeh>=3.1.0
dask
distributed
diff-match-patch
Levenshtein
matplotlib
numpy
onnxruntime
onnxscript
opencv-python-headless
pandas
requests
scipy
setuptools==80.9.0
# Tesseract only needed for legacy stuff
# pytesseract

# May want to comment out items below and install manually
# torch
# torchvision
# git+https://github.com/facebookresearch/detectron2.git # or pip install --no-build-isolation git+https://github.com/facebookresearch/detectron2.git
