<!doctype html>
  <!--[if lt IE 8 ]><html lang="en" class="no-js ie ie7"><![endif]-->
  <!--[if IE 8 ]><html lang="en" class="no-js ie"><![endif]-->
  <!--[if (gt IE 8)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">

    <title>Mackabees Ministry</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Global stylesheets -->
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link href="css/form.css" rel="stylesheet" type="text/css">
    <link href="css/standard.css" rel="stylesheet" type="text/css">

    <!-- Comment/uncomment one of these files to toggle between fixed and fluid layout -->
    <!--<link href="css/960.gs.css" rel="stylesheet" type="text/css">-->
    <link href="css/960.gs.fluid.css" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link href="css/simple-lists.css" rel="stylesheet" type="text/css">
    <link href="css/block-lists.css" rel="stylesheet" type="text/css">
    <link href="css/planning.css" rel="stylesheet" type="text/css">
    <link href="css/table.css" rel="stylesheet" type="text/css">
    <link href="css/calendars.css" rel="stylesheet" type="text/css">
    <link href="css/wizard.css" rel="stylesheet" type="text/css">
    <link href="css/gallery.css" rel="stylesheet" type="text/css">

    <!-- Digital D4 Biblical -->
    <link href="css/holyday.css" rel="stylesheet" type="text/css">
    <link href="css/timeline.css" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon-large.png">

    <!-- Modernizr for support detection, all javascript libs are moved right above </body> for better performance -->
    <script src="js/libs/modernizr.custom.min.js"></script>

    <!--  Google Maps -->
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; width: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100%; width: 75%; float: left; }
      </style>

    <script src="js/libs/jquery-1.10.2.min.js"></script>
    <script src="js/libs/jquery-ui-1.11.0.min.js"></script>

    <!-- Angular -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-bind-html-compile.min.js"></script>
    <script src="js/lib/angular-cookies.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>

    <!-- Digital D4 -->
    <script src="js/dd4-common-min.js"></script>
    <script src="js/DD4-Biblical.js"></script>

    <!-- CryptoJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
  </head>

  <body data-ng-app="biblical" data-ng-controller="DD4AppCtrl as appCtrl">
    <div data-ng-controller="biblicalCtrl as biblicalCtrl">
      <h2><a href="#/home">Mackabees Ministry</a></h2>
      | <a href="#/calendar">Calendar</a>
      | <a href="#/read_the_word">Read the Word</a>
      | <a href="#/the_law">The Law</a>
      | <a href="#/lessons">Lessons</a>
      | <a href="#/timeline">Timeline</a>
      <span data-ng-if="appCtrl.globalData.runningLocal">
        | <a href="#/games">Games</a>
      </span>
      <span data-ng-if="appCtrl.globalData.runningLocal">
        | <a href="#/utils">Utilities</a>
      </span>
      |
      <!-- Content -->
      <article class="container_12">
        <div data-ng-view></div>
        <scripture-view data-ng-if="biblicalCtrl.globalData.reference" data-reference="biblicalCtrl.globalData.reference"></scripture-view>
      </article>
      <!-- End content -->
      <dd4-login data-ng-if="biblicalCtrl.loginDialogShown" data-on-cancel="biblicalCtrl.hideLoginDialog()"
                 data-label="Truth Seekers" data-allow-signup="true" on-login-success="biblicalCtrl.hideLoginDialog()">
      </dd4-login>
      <a href="" data-ng-click="biblicalCtrl.showLoginDialog()">Login</a>
      <a href="" data-ng-click="appCtrl.logout()">Logout</a>
    </div>

    <!-- Updated as v1.5: Libs are moved here to improve performance -->

    <!-- Generic libs -->
    <script src="js/libs/jquery.hashchange.js"></script>

    <!-- Template libs -->
    <script src="js/jquery.accessibleList.js"></script>
    <script src="js/searchField.js"></script>
    <script src="js/common.js"></script>
    <script src="js/standard.js"></script>
    <!--[if lte IE 8]><script src="js/standard.ie.js"></script><![endif]-->
    <script src="js/jquery.tip.js"></script>
    <script src="js/jquery.contextMenu.js"></script>
    <script src="js/jquery.modal.js"></script>

    <!-- Custom styles lib -->
    <script src="js/list.js"></script>

    <!-- Plugins -->
    <script src="js/libs/jquery.dataTables-1.10.12.min.js"></script>
    <script src="js/libs/jquery.datepick/jquery.datepick.js"></script>

    <script>
      /* This script shows how to setup the various template plugins and functions */
      $(document).ready(function() {
        /* Example context menu */

        // Context menu for all favorites
        $('.favorites li').bind('contextMenu', function(event, list)
        {
          var li = $(this);

          // Add links to the menu
          if (li.prev().length > 0) {
            list.push({ text: 'Move up', link:'#', icon:'up' });
          }
          if (li.next().length > 0) {
            list.push({ text: 'Move down', link:'#', icon:'down' });
          }
          list.push(false);	// Separator
          list.push({ text: 'Delete', link:'#', icon:'delete' });
          list.push({ text: 'Edit', link:'#', icon:'edit' });
        });

        // Extra options for the first one
        $('.favorites li:first').bind('contextMenu', function(event, list)
        {
          list.push(false);	// Separator
          list.push({ text: 'Settings', icon:'terminal', link:'#', subs:[
            { text: 'General settings', link: '#', icon: 'blog' },
            { text: 'System settings', link: '#', icon: 'server' },
            { text: 'Website settings', link: '#', icon: 'network' }
          ] });
        });

        /*
         * Dynamic tab content loading
         */

        $('#tab-comments').onTabShow(function() {
          $(this).loadWithEffect('ajax-tab.html', function() {
            notify('Content loaded via ajax');
          });
        }, true);

        // A small classes setup...
        $.fn.dataTableExt.oStdClasses.sWrapper = 'no-margin last-child';
        $.fn.dataTableExt.oStdClasses.sInfo = 'message no-margin';
        $.fn.dataTableExt.oStdClasses.sLength = 'float-left';
        $.fn.dataTableExt.oStdClasses.sFilter = 'float-right';
        $.fn.dataTableExt.oStdClasses.sPaging = 'sub-hover paging_';
        $.fn.dataTableExt.oStdClasses.sPagePrevEnabled = 'control-prev';
        $.fn.dataTableExt.oStdClasses.sPagePrevDisabled = 'control-prev disabled';
        $.fn.dataTableExt.oStdClasses.sPageNextEnabled = 'control-next';
        $.fn.dataTableExt.oStdClasses.sPageNextDisabled = 'control-next disabled';
        $.fn.dataTableExt.oStdClasses.sPageFirst = 'control-first';
        $.fn.dataTableExt.oStdClasses.sPagePrevious = 'control-prev';
        $.fn.dataTableExt.oStdClasses.sPageNext = 'control-next';
        $.fn.dataTableExt.oStdClasses.sPageLast = 'control-last';
      });
    </script>
  </body>
</html>