<section class="grid_12">
  <div class="block-border">
    <div class="block-content">
      <h1>TRUE ISRAELITE CALENDAR</h1>

      <div class="block-controls">
        <ul class="controls-buttons">
          <li><a href="" data-ng-click="$ctrl.prevMonth()" title="Previous month">
            <img src="images/icons/fugue/navigation-180.png" width="16" height="16" alt="Previous month">
          </a></li>
          <li class="sep"></li>
          <li class="controls-block">
            <a href="" data-ng-click="$ctrl.showMonthSelectionDialog()" title="Select month">
              <strong>{{$ctrl.getShortName()}}</strong>
            </a>
          </li>
          <li class="sep"></li>
          <li><a href="" data-ng-click="$ctrl.nextMonth()" title="Next month">
            <img src="images/icons/fugue/navigation.png" width="16" height="16" alt="Next month">
          </a></li>
        </ul>
      </div>

    <div class="no-margin">
      <table class="calendar">
        <thead>
        <tr>
          <th scope="col" class="black-cell"><span class="success"></span></th>
          <th scope="col">Day 1</th>
          <th scope="col">Day 2</th>
          <th scope="col">Day 3</th>
          <th scope="col">Day 4</th>
          <th scope="col">Day 5</th>
          <th scope="col">Day 6</th>
          <th scope="col">Shabbat</th>
        </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="week in $ctrl.weeks">
            <th scope="row">{{week.weekOfYear}}</th>
            <td data-ng-repeat="day in week.days" data-ng-class="day.classes">
              <a class="day">{{day.day}}</a>
              <ul class="dot-events with-children-tip">
                <a class="reference-day">{{day.date.getDate() | date:'MMM dd'}}</a>
                <li data-ng-repeat="notification in day.notifications" class="{{notification.color}}" title="{{notification.title}}">
                  <a href="#{{notification.entity}}/{{notification.entityId}}">{{notification.title}}</a>
                </li>
              </ul>
              <a href="" data-ng-if="appCtrl.isUserLoggedIn()" data-ng-click="$ctrl.showCreateEventDialog(day.date)" class="add-event">Add</a>
              <a href="" data-ng-if="day.holyDay" class="holyday-title" data-ng-click="$ctrl.showViewEventDialog(day.holyDay)">{{day.holyDay.title}}</a>
              <ul class="events">
                <li data-ng-repeat="event in day.biblicalEvents">
                  <a href="" data-ng-click="$ctrl.showViewEventDialog(event)">
                    <div class="biblical" data-ng-class="{'has-error': event.year==4001}">{{event.title}}</div>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="message no-margin">
      <li>{{$ctrl.biblicalEvents.length}} Biblical events found</li>
      <li>
        <a href="https://dd4-biblical.appspot.com/_api/reports/v1/calendar/Enoch-Calendar-{{$ctrl.year}}.pdf">
          Print <img src="images/icons/web-app/24/Print.png" width="16" height="16" alt="Print">
        </a>
      </li>
      <li> Show:
        <input type="checkbox" data-ng-model="$ctrl.showBiblicalEvents"
               data-ng-change="$ctrl.setView('showBiblicalEvents')">Biblical Events
        <input type="checkbox" data-ng-model="$ctrl.showImages"
               data-ng-change="$ctrl.setView('showImages')">Images
        <input type="checkbox" data-ng-model="$ctrl.showFeastDays"
               data-ng-change="$ctrl.setView('showFeastDays')">Feast Days
      </li>
    </ul>
  </div>

  <!-- Month selection dialog start -->
  <div data-ng-show="$ctrl.dialogShown=='SELECT_MONTH'" id="monthSelectModal" style="display:block; position:absolute; left:0px;" data-ng-style="$ctrl.dialogStyle">
    <div class="modal-window block-border">
      <ul class="action-tabs right">
        <li><a  data-ng-click="$ctrl.closeDialog()" title="Close window">
          <img src="images/icons/fugue/cross-circle.png" width="16" height="16" alt="Close window">
        </a></li>
      </ul>
      <div class="block-content form">
        <div class="columns">
          <div class="colx2-left">
            <label>Year</label>
            <input type="number" data-ng-model="$ctrl.monthSelection.year" min="1" max="3500" />
          </div>
          <div class="colx2-right">
            <label>Month</label>
            <select data-ng-model="$ctrl.monthSelection.month" data-ng-options="month.number as month.displayText for month in $ctrl.months">
            </select>
          </div>
        </div>
        <button data-ng-click="$ctrl.selectMonth()">Select</button>
        <button data-ng-click="$ctrl.closeDialog()">Cancel</button>
      </div>
    </div>
  </div>
  <!-- Month selection dialog end -->

  <!-- Event view dialog start -->
  <div data-ng-show="$ctrl.dialogShown=='VIEW_EVENT'" id="eventModal" style="display:block; position:absolute; left:0px;" data-ng-style="$ctrl.dialogStyle">
    <div class="modal-window block-border">
      <ul class="action-tabs right">
        <li>
          <a href="" data-ng-click="$ctrl.closeDialog()" title="Close window">
            <img src="images/icons/fugue/cross-circle.png" width="16" height="16" alt="Close window">
          </a>
        </li>
        <li data-ng-if="appCtrl.isUserLoggedIn()">
          <a href="" data-ng-click="$ctrl.showEditEventDialog($ctrl.event)" title="Edit Event">Edit</a>
        </li>
      </ul>
      <div class="block-content form">
        <h2>{{$ctrl.event.display}}</h2>
        <div data-bind-html-compile="$ctrl.event.summary"></div>
        <div class="columns">
          <div class="colx2-left">
            <label>Version</label>
            <select data-ng-model="$ctrl.globalData.scriptureVersion" data-ng-change="$ctrl.scriptureVersionChanged()"
                    data-ng-options="version for version in $ctrl.globalData.scriptureVersions"></select>
          </div>
          <button class="float-right" data-ng-click="$ctrl.closeDialog()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Event view dialog end -->

  <!-- Event edit dialog start -->
  <div data-ng-show="$ctrl.dialogShown=='EDIT_EVENT'" id="editModal" style="display:block; position:absolute; left:0px;" data-ng-style="$ctrl.dialogStyle">
    <div class="modal-window block-border">
      <ul class="action-tabs right">
        <li><a href="" data-ng-click="$ctrl.closeDialog()" title="Close window">
          <img src="images/icons/fugue/cross-circle.png" width="16" height="16" alt="Close window">
        </a></li>
      </ul>
      <div class="block-content form">
        <div class="columns">
          <div class="colx3-left">
            <label>Month</label>
            <select data-ng-model="$ctrl.editEvent.month" data-ng-options="month.number as month.displayText for month in $ctrl.months">
            </select>
          </div>
          <div class="colx3-center">
            <label>Day</label>
            <input type="number" data-ng-model="$ctrl.editEvent.day" min="1" max="31">
          </div>
          <div class="colx3-right">
            <label>Offset</label>
            <input type="text" data-ng-model="$ctrl.editEvent.offset.years" class="full-width">
          </div>
        </div>
        <div class="columns">
          <label>Title</label>
          <input type="text" data-ng-model="$ctrl.editEvent.title" class="full-width">
        </div>
        <div class="columns">
          <label>Summary</label>
          <textarea data-ng-model="$ctrl.editEvent.summary" rows="2" class="full-width"></textarea>
        </div>
        <button data-ng-if="$ctrl.editEvent.id" data-ng-click="$ctrl.saveEvent()">Save</button>
        <button data-ng-if="!$ctrl.editEvent.id" data-ng-click="$ctrl.createEvent()">Create</button>
        <button data-ng-click="$ctrl.closeDialog()">Cancel</button>
      </div>
    </div>
  </div>
  <!-- Event edit dialog end -->
</section>