<section class="grid_12">
  <div class="block-border">
    <div class="block-content">
      <div class="block-content form" data-ng-if="$ctrl.isEditing">
        <div class="columns">
          <label>Title</label>
          <input type="text" data-ng-model="$ctrl.lesson.title" class="full-width">
        </div>
        <div class="columns">
          <label>Theme Text</label>
          <input type="text" data-ng-model="$ctrl.lesson.themeText" class="full-width">
        </div>
        <div class="columns">
          <label>Youtube Id</label>
          <input type="text" data-ng-model="$ctrl.lesson.youtubeId" class="full-width">
        </div>
        <div class="columns">
          <label>Content</label>
          <textarea data-ng-model="$ctrl.lesson.content" class="full-width" style="height: 300px"></textarea>
        </div>
        <button data-ng-if="!$ctrl.lesson.lessonId" data-ng-click="$ctrl.saveLesson()">Create</button>
        <button data-ng-if="$ctrl.lesson.lessonId" data-ng-click="$ctrl.saveLesson()">Save</button>
        <button data-ng-if="$ctrl.lesson.lessonId" data-ng-click="$ctrl.saveLesson(true)">Save & Publish</button>
      </div>
      <div class="block-content form" data-ng-if="$ctrl.lesson">
        <h1>{{$ctrl.lesson.title}}</h1>
        <p><i data-bind-html-compile="$ctrl.lesson.themeText"></i></p>
        <iframe data-ng-if="$ctrl.lesson.youtubeId" width="420" height="345" ng-src="{{'https://www.youtube.com/embed/' + $ctrl.lesson.youtubeId | trusted}}">
        </iframe>
        <div data-bind-html-compile="$ctrl.lesson.content"></div>
        <a href="" data-ng-if="appCtrl.isUserLoggedIn()" data-ng-click="$ctrl.edit()">Edit</a>
      </div>
      <div class="block-content form">
        <h1>Lessons</h1>
        <ol>
          <li data-ng-repeat="lesson in $ctrl.lessons" style="padding-bottom: 8px">
            <a href="" data-ng-click="$ctrl.showLesson(lesson)">
              {{lesson.title}}<img data-ng-if="lesson.published" src="images/icons/fugue/status.png">
            </a>
          </li>
        </ol>
        <p><a href="" data-ng-if="appCtrl.isUserLoggedIn()" data-ng-click="$ctrl.createNew()" class="add-event">Add</a></p>
      </div>
    </div>
  </div>
</section>