<section class="grid_12">
  <div class="block-border">
    <div class="block-content form">
      <h1>READ THE WORD</h1>
      <div>
        <a href="" data-ng-if="appCtrl.isUserLoggedIn()" data-ng-click="$ctrl.view = $ctrl.views.READ">
          <img src="images/icons/web-app/32/Search.png" alt="Read the word">
        </a>
        <a href="" data-ng-if="appCtrl.isUserLoggedIn()" data-ng-click="$ctrl.view = $ctrl.views.SEARCH_AND_REPLACE">
          <img src="images/icons/web-app/32/Modify.png" alt="Search and replace Word">
        </a>
        <a href="" data-ng-if="appCtrl.isUserLoggedIn()"  data-ng-click="$ctrl.showUpload()">
          <img src="images/icons/web-app/32/Load.png" alt="Upload">
        </a>
        <fieldset data-ng-show="$ctrl.view == $ctrl.views.READ">
          <div class="columns">
            <div class="colx3-left-double">
              <label><button data-ng-click="$ctrl.reference.shown=true">Book</button></label>
              <input type="text" data-ng-model="$ctrl.reference.value" class="full-width"
                     placeholder="Gen 2:3 or Exo 20:8-11 or Law NT" data-on-enter="$ctrl.getOrSearch()">
            </div>
            <div class="colx3-right">
              <label>Version</label>
              <select data-ng-model="$ctrl.globalData.scriptureVersion" data-ng-change="$ctrl.getOrSearch()"
                      data-ng-options="version for version in $ctrl.globalData.scriptureVersions"></select>
              <label>Language</label>
              <select data-ng-model="$ctrl.globalData.language" data-ng-change="$ctrl.getOrSearch()"
                      data-ng-options="language.code as language.name for language in $ctrl.globalData.languages"></select>
              <button data-ng-click="$ctrl.getOrSearch()">Show</button>
            </div>
          </div>
        </fieldset>
        <fieldset data-ng-show="$ctrl.view == $ctrl.views.SEARCH_AND_REPLACE">
          <div class="columns">
            <div class="colx3-left">
              <label>Phrase</label>
              <input type="text" data-ng-model="$ctrl.phrase" class="full-width" data-on-enter="$ctrl.searchAndReplace(true)">
            </div>
            <div class="colx3-center">
              <label>Replacement</label>
              <input type="text" data-ng-model="$ctrl.replacement" class="full-width" data-on-enter="$ctrl.searchAndReplace(true)">
            </div>
            <div class="colx3-right">
              <label>Filter</label>
              <input type="text" data-ng-model="$ctrl.filter" class="full-width" data-on-enter="$ctrl.searchAndReplace(true)">
              <button data-ng-click="$ctrl.searchAndReplace(true)">Preview</button>
              <button data-ng-show="$ctrl.previewShown" data-ng-click="$ctrl.searchAndReplace(false)">Replace</button>
            </div>
          </div>
        </fieldset>
        <fieldset data-ng-show="$ctrl.view == $ctrl.views.UPLOAD">
          <div class="columns">
            <div class="colx3-left">
              <label>Version</label>
              <input type="text" data-ng-model="$ctrl.uploadVersion" class="full-width" data-on-enter="$ctrl.searchAndReplace(true)">
            </div>
            <div class="colx3-center">
              <label>Book</label>
              <select data-ng-model="$ctrl.uploadBook"
                      data-ng-options="book.name for book in $ctrl.allBooks"></select>
            </div>
            <div class="colx3-right">
              <label>Chapter</label>
              <select data-ng-model="$ctrl.uploadChapter"
                      data-ng-options="chapter.number as chapter.number for chapter in $ctrl.uploadBook.chapters"></select>
            </div>
          </div>
          <label>Scripture Text</label>
          <textarea data-ng-model="$ctrl.uploadText" class="full-width" style="height: 300px"></textarea>
          <button data-ng-click="$ctrl.uploadScripture(true)">Preview</button>
          <button data-ng-show="$ctrl.previewShown" data-ng-click="$ctrl.uploadScripture(false)">Upload</button>
          </div>
        </fieldset>
      </div>
      <div class="columns">
        <div class="colx2-left">
          <button data-ng-show="$ctrl.prevChapter" data-ng-click="$ctrl.setReference($ctrl.prevChapter)">Previous Chapter</button>
        </div>
        <div class="colx2-right">
          <button data-ng-show="$ctrl.nextChapter" data-ng-click="$ctrl.setReference($ctrl.nextChapter)">Next Chapter</button>
        </div>
      </div>
      <div class="block-content form">
        <div data-ng-show="!$ctrl.searchShown">
          <div data-ng-repeat="script in $ctrl.scriptures" dir="{{script.dir}}">
            <p data-ng-if="script.text">
              <span data-ng-show="script.showChapter">
                <a href="" data-ng-click="$ctrl.showScripture(script.version, script.book, script.chapter)">
                  ({{script.version}}) {{script.book}} {{script.chapter}}</a>:</span><a href="" data-ng-click="$ctrl.showScripture(script.version, script.book, script.chapter, script.verse)">{{script.verse}}</a>
              <span data-bind-html-compile="script.text"></span>
              <a data-ng-if="script.version == 'DSS'" href="" data-ng-click="$ctrl.showScroll(script)" title="View Scroll">📜</a>
            </p>
            <hr data-ng-if="script.version=='DSS' && script.language=='en'"/>
            <div data-ng-if="script.interlinears">
              <div align="{{script.tableAlign}}" class="maintable2">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                  <tr>
                    <td>
                      <div id="leftbox">
                        <div class="vheading">
                          <a href="" data-ng-click="$ctrl.showScripture(undefined, script.book, script.chapter)">
                            ({{script.version}}) {{script.book}} {{script.chapter}}</a>:<a href="" data-ng-click="$ctrl.showScripture(script.version, script.book, script.chapter, script.verse)">{{script.verse}}</a>
                          <a data-ng-if="script.book == 'Isaiah'" href="" data-ng-click="$ctrl.showScroll(script)" title="View Scroll">📜</a>
                        </div>
                        <table data-ng-class="script.tableFloat" data-ng-repeat="interlinear in script.interlinears">
                          <tr><td class="strongs" data-ng-class="interlinear.highlight">
                            <a href="" data-ng-click="$ctrl.showStrongsDef(interlinear.strongsId)">
                              {{interlinear.strongsId || '-'}}
                            </a>
                          </td></tr>
                          <tr><td class="translit">
                            <a href="" data-ng-click="$ctrl.showStrongsRefDialog(interlinear)">
                              {{interlinear.transliteration}}
                            </a>
                          </td></tr>
                          <tr><td class="hebrew">{{interlinear.word}}</td></tr>
                          <tr data-ng-if="interlinear.dssDiff">
                            <td class="hebrew" data-bind-html-compile="interlinear.dssDiff"></td>
                          </tr>
                          <tr><td class="eng">{{interlinear.translation}}</td></tr>
                          <tr><td class="strongsnt">{{interlinear.morphology}}</td></tr>
                          <tr><td class="mt-strongs" data-ng-class="interlinear.highlight">
                            <span data-ng-repeat="subToken in interlinear.subTokens">
                              <a href="" data-ng-click="$ctrl.showStrongsDef(subToken.strongsId)">
                                {{subToken.strongsId || '&nbsp;'}}
                              </a>
                            </span>
                          </td></tr>
                          <tr><td class="hebrew">
                            <span data-ng-repeat="subToken in interlinear.subTokens">{{subToken.word}} </span>
                          </td></tr>
                          <tr><td class="machine-translation">
                            <span data-ng-repeat="subToken in interlinear.subTokens">{{subToken.translation}}</span>
                          </td></tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div data-ng-show="$ctrl.searchShown && $ctrl.searchResult">
          <h2>Search Results: {{$ctrl.searchResult.start}} to {{$ctrl.searchResult.end}} of {{$ctrl.searchResult.totalSize}}</h2>
          <p data-ng-repeat="group in $ctrl.searchResult.grouped">
            <a href="" data-ng-click="$ctrl.showScripture(group.version, group.book, group.chapter)">{{group.book}}
              {{group.chapter}}</a>:<a href="" data-ng-click="$ctrl.showScripture(group.version, group.book, group.chapter, group.verse)">{{group.verse}}</a>
            <a href="" data-ng-click="$ctrl.setReference(group.book + ' ' + group.chapter + ':' + group.verse)"><img src="images/icons/link_arrow.png" height="14"></a>
            <span class="verse" data-ng-repeat="result in group.items">
              <br>
              (<a href="" data-ng-click="$ctrl.showScripture(result.version, result.book, result.chapter)">{{result.version}}</a>)
              <span data-bind-html-compile="result.text"></span>
            </span>
          </p>
          <fieldset>
            <span data-ng-repeat="page in $ctrl.searchResult.pages">
              <button data-ng-click="$ctrl.getOrSearch(page)" data-ng-disabled="page == $ctrl.searchResult.pageToken">{{page}}</button>
            </span>
          </fieldset>
        </div>
      </div>
      <div class="columns">
        <div class="colx2-left">
          <button data-ng-show="$ctrl.prevChapter" data-ng-click="$ctrl.setReference($ctrl.prevChapter)">Previous Chapter</button>
        </div>
        <div class="colx2-right">
          <button data-ng-show="$ctrl.nextChapter" data-ng-click="$ctrl.setReference($ctrl.nextChapter)">Next Chapter</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Lexicon dialog start -->
  <div data-ng-show="$ctrl.dialogShown=='LEXICON'" id="eventModal" style="display:block; position:absolute; left:0px;" data-ng-style="$ctrl.dialogStyle">
    <div class="modal-window block-border">
      <ul class="action-tabs right">
        <li>
          <a href="" data-ng-click="$ctrl.closeDialog()" title="Close window">
            <img src="images/icons/fugue/cross-circle.png" width="16" height="16" alt="Close window">
          </a>
        </li>
        <li data-ng-if="appCtrl.isUserLoggedIn()">
          <a href="" data-ng-click="$ctrl.showEditLexiconDialog($ctrl.event)" title="Edit Event">Edit</a>
        </li>
      </ul>
      <div class="block-content form">
        <h2>Lexicon :: Strong's {{$ctrl.lexicon.id}} - {{$ctrl.lexicon.word}}</h2>
        <div class="columns">
          <div class="colx2-left">
            <h3>Ancient</h3>
            <p>{{$ctrl.lexicon.ancient}}</p>
          </div>
          <div class="colx2-right">
            <h3>Constants Only</h3>
            <p>{{$ctrl.lexicon.constantsOnly}}</p>
          </div>
        </div>
        <div class="columns">
          <div class="colx2-left">
            <h3>Transliteration</h3>
            <p>{{$ctrl.lexicon.transliteration}}</p>
          </div>
          <div class="colx2-right">
            <h3>Pronunciation</h3>
            <p>{{$ctrl.lexicon.pronunciation}}</p>
          </div>
        </div>
        <div class="columns">
          <div class="colx2-left">
            <h3>Part of Speech</h3>
            <p>{{$ctrl.lexicon.partOfSpeech}}</p>
          </div>
          <div class="colx2-right">
            <h3>Root Word</h3>
            <p data-bind-html-compile="$ctrl.lexicon.rootWord"></p>
          </div>
        </div>
        <div class="columns">
          <h3>Strong's Definitions</h3>
          <p data-bind-html-compile="$ctrl.lexicon.strongsDefinition"></p>
        </div>
        <div class="columns">
          <h3>KJV Translation Count</h3>
          <p>
            <b>The KJV translates in the following manner:</b>
            <span data-ng-repeat="tc in $ctrl.lexicon.translationCounts">{{tc.word}} ({{tc.count}}x), </span>
          </p>
        </div>
        <div class="columns">
          <h3>Outline of Biblical Usage</h3>
          <ol style="list-style: decimal">
            <li data-ng-repeat="node in $ctrl.lexicon.outline">
              {{node.value}}
              <ol style="list-style: upper-alpha">
                <li data-ng-repeat="subNode in node.children">{{subNode.value}}
                  <ol style="list-style: lower-alpha"><li data-ng-repeat="botNode in subNode.children">{{botNode.value}}</li></ol>
                </li>
              </ol>
            </li>
          </ol>
        </div>
        <div class="columns">
          <h3>Strong's Reference Count</h3>
          <p>{{$ctrl.lexicon.referenceCount}}</p>
          <button data-ng-if="!$ctrl.lexicon.referenceCount"
                  data-ng-click="$ctrl.fillReferenceCount()">Fill Reference Count</button>
        </div>
        <div class="columns">
          <h3>Spelling Variants</h3>
          <ul>
            <li data-ng-repeat="translation in $ctrl.lexiconTranslations">
              {{translation.word}} {{translation.translation}}
            </li>
          </ul>
          <div data-ng-if="appCtrl.isUserLoggedIn()">
            <label>Word</label>
            <input type="text" data-ng-model="$ctrl.addTokenWord.word">
            <label>Translation</label>
            <input type="text" data-ng-model="$ctrl.addTokenWord.translation">
            <button data-ng-click="$ctrl.addTranslation()">Add</button>
          </div>
        </div>
        <div class="columns">
          <h3>Dictionary Aids</h3>
          <p>{{$ctrl.lexicon.dictionaryAid}}</p>
        </div>
        <div class="columns">
          <div class="colx3-left">
            <button class="float-left" data-ng-click="$ctrl.prevStrongsDef()">Previous</button>
          </div>
          <div class="colx3-center">
            <button class="float-center" data-ng-click="$ctrl.nextStrongsDef()">Next</button>
          </div>
        </div>
        <div class="columns">
          <div class="colx3-left">
            <input data-ng-model="$ctrl.strongsId" class="full-width"/>
          </div>
          <div class="colx3-center">
            <button data-ng-click="$ctrl.showStrongsDef()">Show</button>
          </div>
          <div class="colx3-right">
            <button class="float-right" data-ng-click="$ctrl.closeDialog()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Lexicon dialog end -->
  <!-- References dialog start -->
  <div data-ng-show="$ctrl.dialogShown=='REFERENCES'" id="eventModal" style="display:block; position:absolute; left:0px;" data-ng-style="$ctrl.dialogStyle">
    <div class="modal-window block-border">
      <ul class="action-tabs right">
        <li>
          <a href="" data-ng-click="$ctrl.closeDialog()" title="Close window">
            <img src="images/icons/fugue/cross-circle.png" width="16" height="16" alt="Close window">
          </a>
        </li>
      </ul>
      <div class="block-content form">
        <h2>References for Strong's {{$ctrl.interlinear.strongsId}} {{$ctrl.interlinear.constantsOnly}}</h2>
        <h4>{{$ctrl.references.start}} to {{$ctrl.references.end}} of {{$ctrl.references.totalSize}}</h4>
        <fieldset>
          <h4>Match Criteria</h4>
          <span>
            <span><input type="checkbox" data-ng-model="$ctrl.globalData.matchStrongs"/>Strong's</span>
            <span><input type="checkbox" data-ng-model="$ctrl.globalData.matchWord"/>Word</span>
            <span>
              <input type="checkbox" data-ng-model="$ctrl.globalData.matchConstantsOnly"/>Hebrew Letters
            </span>
            <span><button data-ng-click="$ctrl.showStrongsRefs()">show</button></span>
          </span>
        </fieldset>
        <div data-ng-repeat="reference in $ctrl.references.items">
          <h3>
            <a href="" data-ng-click="$ctrl.showScripture(undefined, reference.book, reference.chapter)">{{reference.book}}
              {{reference.chapter}}</a>:<a href="" data-ng-click="$ctrl.showScripture(reference.version, reference.book, reference.chapter, reference.verse)">{{reference.verse}}</a>
            <a href="" data-ng-click="$ctrl.setReference(reference.reference)"><img src="images/icons/link_arrow.png" height="14"></a>
          </h3>
          <p>{{reference.constantsOnly}} {{reference.translation}}</p>
        </div>
        <fieldset>
          <span data-ng-repeat="page in $ctrl.references.pages">
            <button data-ng-click="$ctrl.showStrongsRefs(page)" data-ng-disabled="page == $ctrl.references.pageToken">
              {{page}}
            </button>
          </span>
        </fieldset>
        <div class="columns">
          <button class="float-right" data-ng-click="$ctrl.closeDialog()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- References dialog end -->
  <!-- ScrollView dialog start -->
  <div data-ng-show="$ctrl.dialogShown=='SCROLL_VIEW'" id="eventModal" style="display:block; position:absolute; left:0px;" data-ng-style="$ctrl.dialogStyle">
    <div class="modal-window block-border" style="width: unset;">
      <ul class="action-tabs right">
        <li>
          <a href="" data-ng-click="$ctrl.closeDialog()" title="Close window">
            <img src="images/icons/fugue/cross-circle.png" width="16" height="16" alt="Close window">
          </a>
        </li>
      </ul>
      <div class="block-content form">
        <h1>{{$ctrl.canvasTitle}}</h1>
        <canvas id="scrollview" width="{{$ctrl.canvasWidth}}" height="454"></canvas>
        <div data-ng-if="$ctrl.dialogShown=='SCROLL_VIEW' && !$ctrl.canvasShowAudit">
          <inline-scripture ref="{{$ctrl.canvasReference}}" version="DSS" language="he"></inline-scripture>
          <inline-scripture ref="{{$ctrl.canvasReference}}" version="DSS" language="en"></inline-scripture>
        </div>
        <button data-ng-click="$ctrl.showDSSAudit()">Show Audit Diff</button>
        <div>
          <inline-scripture data-ng-if="$ctrl.canvasShowAudit" ref="{{$ctrl.canvasReference}}" language="interlaced">
          </inline-scripture>
        </div>
        <button class="float-left" data-ng-click="$ctrl.closeDialog()">Close</button>
      </div>
    </div>
  </div>
  <!-- References dialog end -->
  <scripture-selector data-ng-if="$ctrl.reference.shown" data-reference="$ctrl.reference"></scripture-selector>
</section>