<div id="eventModal" style="display: block;">
  <div class="modal-window block-border" style="display: block; left: 5px; top: 50px; width: 380px; position: fixed;">
    <ul class="action-tabs right">
      <li>
        <a href="" data-ng-click="$ctrl.closeDialog()" title="Close window">
          <img src="images/icons/fugue/cross-circle.png" width="16" height="16" alt="Close window">
        </a>
      </li>
    </ul>
    <div class="block-content form">
      <p data-ng-repeat="scripture in $ctrl.scriptures">
        (<a href="" data-ng-click="$ctrl.showScripture(scripture.version, scripture.book, scripture.chapter)">{{scripture.version}}</a>)
        <a href="" data-ng-click="$ctrl.showScripture(scripture.version, scripture.book, scripture.chapter)">
          {{scripture.book}} {{scripture.chapter}}</a>:<a href="" data-ng-click="$ctrl.showScripture(scripture.version, scripture.book, scripture.chapter, scripture.verse)">{{scripture.verse}}
        </a>
        {{scripture.text}}
      </p>
      <div class="columns">
        <div class="colx2-left" data-ng-show="!$ctrl.reference.verse">
          <label>Version</label>
          <select data-ng-model="$ctrl.reference.version" data-ng-change="$ctrl.refresh()"
                  data-ng-options="version for version in $ctrl.scriptureVersions"></select>
        </div>
        <button class="float-right" data-ng-click="$ctrl.closeDialog()">Close</button>
      </div>
    </div>
    <div class="modal-resize-tl"></div>
    <div class="modal-resize-t"></div>
    <div class="modal-resize-tr"></div>
    <div class="modal-resize-r"></div>
    <div class="modal-resize-br"></div>
    <div class="modal-resize-b"></div>
    <div class="modal-resize-bl"></div>
    <div class="modal-resize-l"></div>
  </div>
</div>