<section class="grid_12">
  <div class="block-border">
    <div class="block-content">
      <h1>READ THE LAW</h1>

      <div class="block-content form">
        <fieldset>
          <div class="columns">
            <div class="colx3-left-double">
              <label>Search Text</label>
              <input type="text" data-ng-model="$ctrl.searchText" class="full-width" data-on-enter="$ctrl.search()">
            </div>
            <div class="colx3-right">
              <button data-ng-click="$ctrl.search()">Search</button>
            </div>
          </div>
        </fieldset>
      </div>
      <div>
        <h2>{{$ctrl.searchResult.start}} to {{$ctrl.searchResult.end}} of {{$ctrl.searchResult.totalSize}}</h2>
        <div data-ng-repeat="command in $ctrl.searchResult.items" style="padding-bottom: 8px">
          <div>
            <span data-ng-show="!command.isEditing">{{command.summary}}</span>
            <a href="" data-ng-if="$ctrl.userLoggedIn() && !command.isEditing" data-ng-click="$ctrl.edit(command)">edit</a>
            <input type="text" data-ng-if="command.isEditing" data-ng-model="command.summary" class="full-width">
            <button data-ng-if="command.isEditing" data-ng-click="$ctrl.update(command)">Save</button>
          </div>
          <div style="padding-left: 16px">
            <a href="" data-ng-show="!command.isEditing" data-ng-click="$ctrl.showScripture(command)">{{command.scriptures}}</a>
            <input type="text" data-ng-if="command.isEditing" data-ng-model="command.scriptures" class="full-width">
          </div>
          <div style="padding-left: 16px">
            <div data-ng-show="!command.isEditing">{{command.tags}}</div>
            <input type="text" data-ng-if="command.isEditing" data-ng-model="command.tags" class="full-width">
          </div>
        </div>
        <div data-ng-if="$ctrl.userLoggedIn()">
          <input type="text" data-ng-model="$ctrl.newCommand.summary" class="full-width">
          <button data-ng-click="$ctrl.create()">Create</button>
          <div style="padding-left: 16px">
            <input type="text" data-ng-model="$ctrl.newCommand.scriptures" class="full-width">
            <input type="text" data-ng-model="$ctrl.newCommand.tags" class="full-width">
          </div>
        </div>
        <fieldset>
          <span data-ng-repeat="page in $ctrl.searchResult.pages">
            <button data-ng-click="$ctrl.search(page)" data-ng-disabled="page == $ctrl.searchResult.pageToken">{{page}}</button>
          </span>
        </fieldset>
      </div>
    </div>
  </div>
  <!-- Edit dialog end -->
  <scripture-view data-ng-if="$ctrl.reference" data-reference="$ctrl.reference"></scripture-view>
</section>